<h1>New invoice</h1>

<%= render 'form' %>

<%= link_to 'Back', invoices_path %>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('.invoice-line').each(function(index, node) {
      invoiceLine = new InvoiceLine();
      ko.applyBindings(invoiceLine, node);
    })
  })
<% end %>
