<h1>New invoice</h1>

<%= render 'form' %>

<%= link_to 'Back', invoices_path %>

<%= javascript_tag do %>
  $(document).ready(function() {
    invoiceLine = new InvoiceLine();
    ko.applyBindings(invoiceLine, $('tr')[0])
  })
<% end %>
