<h1>New invoice</h1>

<%= render 'form' %>

<%= link_to 'Back', invoices_path %>

<%= javascript_tag do %>
  $(document).ready(function() {
    invoice = new Invoice;
    ko.applyBindings(invoice, $('.invoice')[0]);
  })
<% end %>
